.container{
    width: 1200px;
    height: 600px;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -600px;
    margin-top: -300px;
    z-index: 10;
}
.board{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 400px;
    height: 400px;
    position: relative;
    top: 50%;
    margin-top: -200px;
    flex-wrap: wrap;
    display: flex;
}
.ChatArea{
    width: 400px;
    height: 600px;
    background: gray;
    float: right;
}
.Screen{
    width: 300px;
    height: 400px;
    background: #fff;
    margin-left: 50px;
    margin-top: 40px;
    overflow-y: scroll;
}
.row{
    width:100%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
input{
    width: 300px;
    height: 30px;
    margin-top: 3px;
}
button{
    width: 200px;
    height: 30px;
    margin: 10px;
}

@media only screen and (max-width: 1000px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 800px;
    }
    .ChatArea{
        float: none;
        position: initial;
    }
    .Screen{
        float: none;
        position: initial;
    }
  }


.square{
    width: 50px;
    height: 50px;
    background-size: contain !important;
    cursor: pointer;
}
.black{
    background: rgb(92, 89, 89);
}
.active{
    background: green;
}
.message{
    width: 90%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
}
.page{
    position: absolute;
    z-index: 2;
}
